body {
  background-color: blueviolet;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

img {
  height: 100px;
}

h2 {
  text-align: center;
}
